#
# (C) COPYRIGHT 2012-2013 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#


config DDK_VERSION_OS
	string "version"
	default ANDROID_MAJOR_VERSION
	help
	  Android OS major version

config MALI_TMIX
	tristate "Mali-TMIX support"
	default n
	help
	  Enable this option to build support for the ARM Mali-G71 GPU.

	  To compile this driver as a module, choose M here:
	  this will generate a single module, called mali_kbase.

choice
	prompt "Version Configuration"
	depends on MALI_TMIX
	default MALI_TMIX_R9P0 if ANDROID_VERSION = "80000"
	default MALI_TMIX_R10P0 if ANDROID_VERSION = "80100"
	default MALI_TMIX_R16P0 if ANDROID_VERSION = "90000"
        default MALI_TMIX_R19P0 if ANDROID_VERSION = "100000"
		default MALI_TMIX_R26P0 if ANDROID_VERSION >= "110000"
	help
	  Select the gpu support version.

config MALI_TMIX_R3P0
	depends on MALI_TMIX
	bool "mimir r3p0 driver"

config MALI_TMIX_R8P0
	depends on MALI_TMIX
	bool "mimir r8p0 driver"

config MALI_TMIX_R9P0
	depends on MALI_TMIX
	bool "mimir r9p0 driver"

config MALI_TMIX_R10P0
	depends on MALI_TMIX
	bool "mimir r10p0 driver"

config MALI_TMIX_R16P0
	depends on MALI_TMIX
	bool "mimir r16p0 driver"

config MALI_TMIX_R19P0
	depends on MALI_TMIX
	bool "mimir r19p0 driver"
	
config MALI_TMIX_R25P1
	depends on MALI_TMIX
	bool "mimir r25p1 driver"
	
config MALI_TMIX_R26P0
	depends on MALI_TMIX
	bool "mimir r26p0 driver"
endchoice

if MALI_TMIX_R3P0
source "drivers/gpu/arm/tMIx/r3p0/Kconfig"
endif

if MALI_TMIX_R8P0
source "drivers/gpu/arm/tMIx/r8p0/Kconfig"
endif

if MALI_TMIX_R9P0
source "drivers/gpu/arm/tMIx/r9p0/Kconfig"
endif

if MALI_TMIX_R10P0
source "drivers/gpu/arm/tMIx/r10p0/Kconfig"
endif

if MALI_TMIX_R16P0
source "drivers/gpu/arm/tMIx/b_r16p0/Kconfig"
endif

if MALI_TMIX_R19P0
source "drivers/gpu/arm/b_r19p0/Kconfig"
endif

if MALI_TMIX_R25P1
source "drivers/gpu/arm/b_r25p1/Kconfig"
endif

if MALI_TMIX_R26P0
source "drivers/gpu/arm/b_r26p0/Kconfig"
endif

