#
# sensor drivers configuration
#

config SENSORS_SSP_MAGNETIC_AK09918C
	tristate "Sensors ssp magnetic sensor ak09918c"
	default n
	depends on SPI
	help
	  magnetic sensor ak09918c file for factory test in ssp driver.
          If you say yes here you get magnetic sensor ak09918c support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_MAGNETIC_AK09916C
	tristate "Sensors ssp magnetic sensor ak09916c"
	default n
	depends on SPI
	help
	  magnetic sensor ak09916c file for factory test in ssp driver.
          If you say yes here you get magnetic sensor ak09916c support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_MAGNETIC_AK09911
	tristate "Sensors ssp magnetic sensor ak09911"
	default n
	depends on SPI
	help
	  magnetic sensor ak09911 file for factory test in ssp driver.
          If you say yes here you get magnetic sensor ak09911 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_MAGNETIC_LSM303AH
	tristate "Sensors ssp magnetic sensor lsm303ah"
	default n
	depends on SPI
	help
	  magnetic sensor lsm303ah file for factory test in ssp driver.
          If you say yes here you get magnetic sensor lsm303ah support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_MAGNETIC_YAS539
	tristate "Sensors ssp magnetic sensor yas539"
	default n
	depends on SPI
	help
	  magnetic sensor yas539 file for factory test in ssp driver.
          If you say yes here you get magnetic sensor yas539 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.