config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON_7885
	bool "Select LCD panel driver"

config EXYNOS_DECON_LCD_S6E3FA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA0 AMOLED FHD LCD driver"

config EXYNOS_DECON_LCD_S6E3FA3
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA3 AMOLED FHD LCD driver"

config EXYNOS_DECON_LCD_S6E3FA7
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA7 AMOLED FHD+ LCD driver"

config DISPLAY_USE_INFO
	tristate "Support display use info logging"
	default n

config EXYNOS_DECON_MDNIE
	tristate "Support MDNIE"
	default n

config EXYNOS_DECON_MDNIE_LITE
	depends on EXYNOS_DECON_MDNIE
	tristate "Support backward compatibility for MDNIE"
	default y

config SUPPORT_POC_FLASH
	depends on EXYNOS_DECON_LCD
	tristate "Support display poc flash"
	default n

config EXYNOS_DECON_LCD_S6E3FA7_JACKPOT2
	tristate "S6E3FA7_JACKPOT2 LCD driver"

config EXYNOS_DECON_LCD_S6E3FA7_JACKPOT
	tristate "S6E3FA7_JACKPOT LCD driver"

config EXYNOS_DECON_LCD_TD4100_J3TOPE
	bool "TD4100_J3TOPE LCD driver"

config EXYNOS_DECON_LCD_S6D7AT0B_J7TOPE
	bool "S6D7AT0B_J7TOPE LCD driver"

config EXYNOS_DECON_LCD_EA8061S_J7DUO
	bool "EA8061S_J7DUO LCD driver"

config EXYNOS_DECON_LCD_S6E8AA5_A6ELTE
	bool "S6E8AA5_A6ELTE LCD driver"

config EXYNOS_DECON_LCD_S6E8AA5_FEEL2
	bool "S6E8AA5_FEEL2 LCD driver"

config EXYNOS_DECON_LCD_SN65DSI86_GVIEW2
	bool "SN65DSI86_HX8876_VIEW2 LCD driver"

config EXYNOS_DECON_LCD_S6E3FA7_A7Y18
	tristate "S6E3FA7_A7Y18 LCD driver"

config EXYNOS_DECON_LCD_TD4101_J2COREPELTE
	bool "TD4101_J2COREPELTE LCD driver"

config EXYNOS_DECON_LCD_HX8279D_GTA3XLLTE
	bool "HX8279D_GTA3XLLTE LCD driver"

config EXYNOS_DECON_LCD_HX83112A_M20
	bool "HX83112A_M20 LCD driver"

config EXYNOS_DECON_LCD_EA8076_M30
	bool "EA8076_M30 LCD driver"

config EXYNOS_DECON_LCD_EA8076_A30
	bool "EA8076_A30 LCD driver"

config EXYNOS_DECON_LCD_HX8279D_WISDOM
	bool "HX8279D_WISDOM LCD driver"

config EXYNOS_DECON_LCD_S6E8FC0_A20
	bool "S6E8FC0_A20 LCD driver"

config EXYNOS_DECON_LCD_S6E8FC0_A40
	bool "S6E8FC0_A40 LCD driver"

config EXYNOS_DECON_LCD_S6D7AT0B_A10
	bool "S6D7AT0B_A10 LCD driver"

config EXYNOS_DECON_LCD_HX83102D_A10E
	bool "HX83102D_A10E LCD driver"

config EXYNOS_DECON_LCD_HX83102D_A20E
	bool "HX83102D_A20E LCD driver"

config EXYNOS_DECON_LCD_S6D7AA0_XCOVER4S
	bool "S6D7AA0_XCOVER4S LCD driver"

config EXYNOS_DECON_LCD_S6E8FC0_A30C
	bool "S6E8FC0_A30C LCD driver"

config EXYNOS_DECON_LCD_S6E8FC1_A30S
	bool "S6E8FC1_A30S LCD driver"

config EXYNOS_DECON_LCD_HX83102D_A10E_JPN
	bool "HX83102D_A10E JPN LCD driver"

config EXYNOS_DECON_LCD_HX83102P_GTA4S
	bool "HX83102P_GTA4S LCD driver"