/*
 * SAMSUNG UNIVERSAL7904 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

&pinctrl_0 { //11CB0000
	
	acc_int: acc-int {
		samsung,pins = "gpa0-3";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	grip_int: grip-int {
		samsung,pins = "gpa0-6";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	grip_input: grip-input {
		samsung,pins = "gpa0-6";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	proxy_int: proxy-int {
		samsung,pins = "gpa0-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

};


&pinctrl_3 { //139B0000

	grip_i2c: grip-2c {
		samsung,pins = "gpp7-1", "gpp7-0";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	grip_gpio: grip-gpio {
		samsung,pins = "gpp7-1", "gpp7-0";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
	
	grip_ldo: grip-ldo {
		samsung,pins = "gpg1-3";
		samsung,pin-function = <1>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	i2c5_bus: i2c5-bus {
		samsung,pins = "gpp4-3", "gpp4-2";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	i2c6_bus: i2c6-bus {
		samsung,pins = "gpp4-5", "gpp4-4";
		samsung,pin-function = <2>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};


 &i2c_5 {
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c5_bus>;

		stk@47 {
			compatible = "stk,stk3x3x";
			reg = <0x47>;
			pinctrl-names = "default";
			pinctrl-0 = <&proxy_int>;
			interrupt-parent = <&gpa0>;
			interrupts = <4 0 0>;
			stk,gpio_int = <&gpa0 4 0>;
			stk,prox_thd_h = <240>;
			stk,prox_thd_l = <220>;
			stk,sunlight_thd_h = <240>;
			stk,sunlight_thd_l = <220>;
			stk,first_cal_adc_limit = <200>;
			stk,first_cal_thd_h = <240>;
			stk,first_cal_thd_l = <220>;
			stk,intel_prst = <0>;
			stk,ps_it = <0x04>;
		};
 };

 &i2c_6 {

		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c6_bus>;

		lsm6dsl@6b {
			compatible = "st,lsm6dsl";
			reg = <0x6b>;
			gpio-controller;
			#gpio-cells = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&acc_int>;
			interrupt-parent = <&gpa0>;
			interrupts = <3 0 0>;
			st,irq_gpio = <&gpa0 3 0>;
			st,orientation = <0 1 1 1 2 1 1 1 0>;
		};

		yas539@2e {
			compatible = "yas_magnetometer";
			reg = <0x2e>;
			yas,orientation = <2>;
			yas,softiron = <9730 490 100 490 9990 10 100 10 10290>;
			yas,softiron_sign = <2 2 2 2 2 2 2 2 2>;
		};
 };

 &i2c_20 {
		compatible = "i2c-gpio"; 
		gpios = <&gpp7 0 0 
				&gpp7 1 0>; 
		pinctrl-names = "default","on_i2c","off_i2c"; 
		pinctrl-0 = <&grip_i2c>; 
		pinctrl-1 = <&grip_i2c>; 
		pinctrl-2 = <&grip_gpio>; 

		tc3xxk@20 {
			compatible = "coreriver,tc3xx-grip";
			pinctrl-names = "default","on_irq","off_irq";
			pinctrl-0 = <&grip_int &grip_ldo>;
			pinctrl-1 = <&grip_int>; 
			pinctrl-2 = <&grip_input>; 
			reg = <0x20>;
			interrupt-parent = <&gpa0>;
			interrupts = <6 0 0>;
			coreriver,scl-gpio = <&gpp7 1 0>;
			coreriver,sda-gpio = <&gpp7 0 0>;
			coreriver,irq-gpio = <&gpa0 6 0>;
			coreriver,ldo_en = <&gpg1 3 0>;
			coreriver,i2c-gpio = "true";
			coreriver,boot-on-ldo = "true";
			coreriver,fw_name = "coreriver/tc305k_a20_grip.fw";     
			coreriver,use_bitmap = <1>;
		};
 };
