menuconfig CAMERA_CIS_SELECT
	bool "Sensor cis select"
	depends on USE_DIRECT_IS_CONTROL
	help
	  Say Y here to enable support for platform-specific V4L drivers.

config CAMERA_CIS_6B2_OBJ
        bool "Use 6B2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 6B2 camera sensor.

config CAMERA_CIS_5E2_OBJ
        bool "Use 5E2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 5E2 camera sensor.

config CAMERA_CIS_5E9_OBJ
        bool "Use 5E9 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 5E9 camera sensor.

config CAMERA_CIS_5E3_OBJ
        bool "Use 5E3 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 5E3 camera sensor.

config CAMERA_CIS_4H5YC_OBJ
        bool "Use 4H5YC camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 4H5YC camera sensor.

config CAMERA_CIS_4H5_OBJ
        bool "Use 4H5 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 4H5 camera sensor.

config CAMERA_CIS_4HA_OBJ
        bool "Use 4HA camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
        default n
        help
          Use to build 4HA camera sensor.

config CAMERA_CIS_2P2_OBJ
		bool "Use 2P2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2P2 camera sensor.

config CAMERA_CIS_2P6_OBJ
		bool "Use 2P6 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2P6 camera sensor.

config CAMERA_CIS_2P8_OBJ
		bool "Use 2P8 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2P8 camera sensor.

config CAMERA_CIS_3P3_OBJ
		bool "Use 3P3 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3P3 camera sensor.

config CAMERA_CIS_3L2_OBJ
		bool "Use 3L2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3L2 camera sensor.
		  
config CAMERA_CIS_3L6_OBJ
	bool "Use 3L6 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
	default n
	help
	  Use to build 3L6 camera sensor.

config CAMERA_CIS_3H1_OBJ
		bool "Use 3H1 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3H1 camera sensor.

config CAMERA_CIS_3H1_C3_OBJ
		bool "Use 3H1 camera cis for companion"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3H1 camera sensor.


config CAMERA_CIS_4E6_OBJ
		bool "Use 4E6 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 4E6 camera sensor.

config CAMERA_CIS_3M2_OBJ
		bool "Use 3M2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3M2 camera sensor.

config CAMERA_CIS_3M3_OBJ
		bool "Use 3M3 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3M3 camera sensor.

config CAMERA_CIS_2L1_OBJ
		bool "Use 2L1 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2L1 camera sensor.

config CAMERA_CIS_3P8_OBJ
		bool "Use 3P8 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3P8 camera sensor.

config CAMERA_CIS_3P8SP_OBJ
		bool "Use 3P8SP camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 3P8SP camera sensor.

config CAMERA_CIS_2P7SX_OBJ
		bool "Use 2P7SX camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2P7SX camera sensor.

config CAMERA_CIS_2L2_OBJ
		bool "Use 2L2 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2L2 camera sensor.

config CAMERA_CIS_IMX260_OBJ
		bool "Use IMX260 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX260 camera sensor.

config CAMERA_CIS_IMX333_OBJ
		bool "Use IMX333 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX333 camera sensor.

config CAMERA_CIS_2L7_OBJ
		bool "Use 2L7 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build 2L7 camera sensor.

config CAMERA_CIS_IMX320_OBJ
		bool "Use IMX320 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX320 camera sensor.

config CAMERA_CIS_IMX320_C3_OBJ
		bool "Use IMX320_C3 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX320_C3 camera sensor.

config CAMERA_CIS_IMX219_OBJ
		bool "Use IMX219 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX219 camera sensor.

config CAMERA_CIS_IMX258_OBJ
		bool "Use IMX258 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX258 camera sensor.

config CAMERA_CIS_IMX241_OBJ
		bool "Use IMX241 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX241 camera sensor.

config CAMERA_CIS_SR259_OBJ
		bool "Use SR259 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build SR259 camera sensor.

config CAMERA_CIS_SR556_OBJ
		bool "Use SR556 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build SR556 camera sensor.

config CAMERA_CIS_SR556B_OBJ
		bool "Use SR556B camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build SR556B camera sensor.

config CAMERA_CIS_SR846_OBJ
		bool "Use SR846 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build SR846 camera sensor.

config CAMERA_CIS_IMX576_OBJ
		bool "Use IMX576 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build IMX576 camera sensor.

config CAMERA_CIS_GC5035_OBJ
		bool "Use GC5035 camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build GC5035 camera sensor.

config CAMERA_CIS_VIRTUAL_OBJ
		bool "Use VIRTUAL camera cis"
	depends on USE_DIRECT_IS_CONTROL
	depends on CAMERA_CIS_SELECT
		default n
		help
		  Use to build VIRTUAL camera sensor.
