#
# sensor drivers configuration
#

config SENSORS_SSP_PROXIMITY_AUTO_CAL_TMD3725
	tristate "Sensors ssp proximity auto cal tmd3725"
	default n
	depends on SPI
	help
	  proximity tmd3725 file for factory test in ssp driver.
          If you say yes here you get proximity tmd3725 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_PROXIMITY_TMG399X
	tristate "Sensors ssp proximity tmg399x"
	default n
	depends on SPI
	help
	  proximity tmg399x file for factory test in ssp driver.
          If you say yes here you get proximity tmg399x support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_PROXIMITY_TMD3700
	tristate "Sensors ssp proximity tmd3700"
	default n
	depends on SPI
	help
	  proximity tmd3700 file for factory test in ssp driver.
          If you say yes here you get proximity tmd3700 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_PROXIMITY_TMD3725
	tristate "Sensors ssp proximity tmd3725"
	default n
	depends on SPI
	help
	  proximity tmd3725 file for factory test in ssp driver.
          If you say yes here you get proximity tmd3725 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.