#
# Wacom configuration
#

config INPUT_WACOM
	tristate "Wacom penabled i2c touchscreen"
	depends on I2C
	help
	  Say Y here if you have an Wacom penabled i2c touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called wacom_GXXX.

config EPEN_WACOM_W9018
	tristate "Wacom W9018 penabled i2c touchscreen"
	depends on I2C
	help
	  Say Y here if you have an Wacom G10PM penabled i2c touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called wacom_W9018.

config EPEN_WACOM_W9019
	tristate "Wacom W9019 penabled i2c touchscreen"
	depends on I2C
	help
	  Say Y here if you have an Wacom G10PM penabled i2c touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called wacom_W9018.

config WACOM_LCD_FREQ_COMPENSATE
	bool "Wacom LCD vsync/hsync frequency compensate rotuine"
	help
	  Say Y here if you have an Wacom lcd freq compensate config

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called wacom.
